# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# IDE / Editor-specific files
.vscode/
.idea/

# Log files
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db
